<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <div>
        <h2>¡Hola {{user.first_name}}!</h2>
        <p>Email/Usuario: {{user.email}}</p>
        <p>Rol: {{user.role}}</p>
    </div>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products.docs}}
        <li>
            <h2>Producto: {{title}}</h2>
            <p>Precio: ${{price}}</p>
            <button class="add-to-cart" data-product-id = {{_id}}>Agregar al Carrito</button>
        </li>
        {{/each}}
    </ul>

    <a href="/api/session/logout"><button>Cerrar Sesión</button></a>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/products.js"></script>
</body>
</html>